h1{
  margin-top: 25px;
  color: #c2185b;
}
.mat-table{
  margin-top: 100px;
  width: 90%;
  margin-left: 70px;
}

.btn-edit{
  background-color: transparent;
  padding-left: 2px;
  padding-right: 2px;
}

.btn-edit:hover{
  background-color: transparent;
  color: white;

  border-radius: none;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align: center;
}

.button-add-funcionario{
  margin-right: 840px;
  background-color: transparent;
}
.mat-button:hover{
  color:#c2185b;
}


